<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/.../public/css/form.css" th:href="@{../css/form.css}">
    <title>User Form</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PT XYZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col">

    </div>
    <div class="col-7">
        <div class="register-box-body">
            <form th:action="@{/update-user}" th:object="${userForm}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" th:field="*{userName}" id="userName" name="userName" placeholder="Username">
                        <span  class="glyphicon glyphicon-user form-control-feedback"></span>
                        <span style="color: red;" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" th:field="*{password}" id="password" name="password" placeholder="Password">
                        <span  class="glyphicon glyphicon-user form-control-feedback"></span>
                        <span style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" placeholder="Name">
                    <span  class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

            <div th:if = "${param.error}">
                <h2>Invalid username and password.</h2>
            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </div>
    </div>
    <div class="col">

    </div>
</div>
</body>
</html>