@media all and (min-width: 720px) {
    .Login {
      padding: 30px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login nav {
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 320px;
    }

    .login-form {
      max-width: 480px;
    }
    .login-form-forgot {
      float: right;
    }
    .login-form-button {
      width: 100%;
    }
  }